In need of moderation
<ul>
  <% @unpublished_actions.each do |voter_registration_action| %>
    <li><%= link_to voter_registration_action.name, edit_admin_voter_registration_action_path(voter_registration_action) %></li>
  <% end %>
</ul>

Published
<ul>
  <% @published_actions.each do |voter_registration_action| %>
    <li><%= link_to voter_registration_action.name, edit_admin_voter_registration_action_path(voter_registration_action) %></li>
  <% end %>
</ul>
